.button {
  display: inline-block;
  min-width: 180px;
  padding: 14px 27px 13px;
  border: 1px solid $accent;
  border-radius: 5px;
  font-family: $secondary-font, $fallback-font;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $accent;
  background-color: transparent;
  cursor: pointer;

  &:hover,
  &:hover {
    border-color: $accent;
    background-color: $accent;
    color: $white;
  }

  &:active {
    opacity: 0.3;
  }
}
