.features {
  padding: 112px 25px 0;

  @media (max-width: $tablet-width) {
    padding-top: 54px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 37px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.features ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  row-gap: 30px;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0;
  list-style: none;

  @media (max-width: $mobile-width) {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
}

.features__item {
  min-height: 299px;
  padding: 40px 40px 40px 44px;
  border: 1px solid #ebebeb;
  border-left: 3px solid $accent;
  background-color: $white;
  cursor: pointer;

  &::before {
    content: "";
    display: block;
    height: 35px;
    background-repeat: no-repeat;
    margin-bottom: 23px;
  }

  @media (max-width: $tablet-width) {
    min-height: 232px;
    padding: 24px 20px 20px 25px;
    border-left-width: 2px;

    &::before {
      margin-bottom: 10px;
    }
  }

  @media (max-width: $mobile-width) {
    padding-right: 10px;
    padding-bottom: 25px;
  }
}

.features__item:hover {
  background-color: $accent;
}

.features__item:hover h3,
.features__item:hover p {
  color: $white;
}

.features__item--time {
  &::before {
    background-image: url("../img/icon-stopwatch.svg");
  }

  &:hover::before {
    background-image: url("../img/icon-stopwatch-hover.svg");
  }
}

.features__item--provider {
  &::before {
    background-image: url("../img/icon-hired.svg");
  }

  &:hover::before {
    background-image: url("../img/icon-hired-hover.svg");
  }
}

.features__item--confidentiality {
  &::before {
    background-image: url("../img/icon-detective.svg");
  }

  &:hover::before {
    background-image: url("../img/icon-detective-hover.svg");
  }
}

.features__item--cost {
  &::before {
    background-image: url("../img/icon-tag.svg");
  }

  &:hover::before {
    background-image: url("../img/icon-tag-hover.svg");
  }
}

.features h3 {
  margin: 0 0 15px 0;
  font-family: $secondary-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  color: $accent;

  @media (max-width: $tablet-width) {
    margin-bottom: 5px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 28px;
  }
}

.features p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: $text;
}
