.feedback-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "name phone"
    "textaria textaria"
    "button agreement";
  column-gap: 30px;
  row-gap: 40px;

  @media (max-width: $mobile-width) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "name"
      "phone"
      "textaria"
      "button"
      "agreement";
    row-gap: 30px;
  }
}

.feedback-form__field {
  &--name {
    grid-area: name;
  }

  &--phone {
    grid-area: phone;
  }

  &--text {
    grid-area: textaria;
  }
}

.feedback-form__field-checkbox {
  display: flex;
  grid-area: agreement;
  padding-top: 8px;
  padding-left: 5px;
  padding-right: 25px;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
}

.feedback-form__field-checkbox:hover .feedback__checkbox-indicator {
  box-shadow: 3px 3px 3px rgba($black, 0.1);
}

.feedback-form input:not([type="checkbox"]),
.feedback-form textarea {
  width: 100%;
  padding: 14px 17px;
  border: none;
  font: inherit;
  font-size: 16px;
  line-height: 22px;
  color: $white;
  background-color: rgba($white, 0.1);

  &::placeholder {
    color: $white;
  }

  &:hover,
  &:focus {
    box-shadow: 3px 3px 10px 0 rgba($black, 0.1);
  }
}

.feedback-form__checkbox-indicator {
  display: block;
  margin-right: 16px;
  min-width: 16px;
  height: 16px;
  border: 1px solid $white;
}

.feedback-form input[type="checkbox"]:focus + .feedback-form__checkbox-indicator {
  box-shadow: 3px 3px 10px 0 rgba($black, 0.1);
}

.feedback-form input[type="checkbox"]:checked + .feedback-form__checkbox-indicator {
  background-image: url("../../img/icon-check.svg");
  background-repeat: no-repeat;
  background-position: 3px center;
}

.feedback-form textarea {
  min-height: 154px;
  resize: none;
}

.feedback-form__button {
  grid-area: button;
  color: $white;
  border-color: $white;

  &:hover,
  &:focus {
    border-color: $white;
    opacity: 0.5;
  }
}
