.feedback {
  padding-top: 96px;
  padding-left: 92px;
  padding-right: 87px;
  padding-bottom: 113px;
  color: $white;
  background-color: $accent;
  background-image:
    url("../../img/paper-airplane.png"),
    url("../../img/triangle-dots.svg"),
    url("../../img/triangle-dots-small.svg"),
    url("../../img/triangles.svg");
  background-repeat: no-repeat;
  background-position: calc(40% - 214px) 41.9%, 18.2% 50.6%, 12.3% 76.6%, 100% 35px;

  @media (max-width: $tablet-width) {
    background-image: none;
    padding-top: 83px;
    padding-bottom: 103px;
    padding-bottom: 114px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 33px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 42px;
  }
}

.feedback__wrapper {
  display: flex;
  justify-content: flex-end;
  max-width: 1170px;
  margin: 0 auto;
}

.feedback__content {
  width: 50%;
  min-width: 240px;
  padding-left: 15px;

  @media (max-width: $tablet-width) {
    width: 100%;
    padding-left: 0;
  }
}

.feedback h2 {
  margin: 0;
  margin-bottom: 7px;
  font-family: $secondary-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 51px;

  @media (max-width: $tablet-width) {
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 15px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 11px;
  }
}

.feedback p {
  margin: 0;
  margin-bottom: 49px;
  font-size: 16px;
  line-height: 22px;

  @media (max-width: $mobile-width) {
    margin-bottom: 24px;
  }
}
