.main-screen {
  color: $white;
  background-color: $main-bg;
  background-image: url("../../img/main-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
