.socials {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

.socials__item {
  margin-right: 16px;

  &:last-child {
    margin-right: 0;
  }
}

.socials__link {
  display: block;
  transition: opacity 0.2s ease;
}

.socials__link:active {
  opacity: 0.3;
}

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
  fill: $accent;
}

.socials__icon {
  fill: #cdcdcd;
  transition: fill 0.2s ease;
}
