$main-font: "PT Mono", monospace;
$secondary-font: "Roboto Condensed";
$fallback-font: "Arial", sans-serif;

$white: #ffffff;
$black: #000000;
$accent: #00b2ff;
$text: #666666;
$main-bg: #1b2d37;
$gray: #999999;

$mobile-width: 767px;
$tablet-width: 1023px;
